<h1 mat-dialog-title>Crear Usuario</h1>
<h2 *ngIf="!canHaveCredit" mat-dialog-title class="alert alert-danger" role="alert">El usuario no puede volver a pedir un credito</h2>
<form [formGroup]="userForm">
    <div mat-dialog-content>
        <div class="row">
            <mat-form-field class="col-12">
                <input matInput placeholder="Cédula" formControlName="documentId" (blur)="check($event)">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="col-12">
                <input matInput placeholder="Nombre" formControlName="name">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="col-12">
                <input matInput placeholder="Correo" formControlName="email">
            </mat-form-field>
        </div>

        <div formGroupName="loan">
            <div class="row">
                <app-loan-create class="col-12" (requestAmount)="requestAmountEvent($event)"></app-loan-create>
                <hr>
            </div>
    
            <div class="row">
                <mat-form-field class="col-12">
                    <input matInput placeholder="Fecha a Pagar" type="date" formControlName="payDate">
                </mat-form-field>
            </div>
    
            <div class="row">
                <mat-form-field class="col-12">
                    <mat-select placeholder="Pago Crédito" formControlName="creditIsPay">
                        <mat-option *ngFor="let pay of creditPayArray" [value]="pay.option"> {{ pay.value }} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="d-flex justify-content-between">
        <button type="submit" class="btn btn-success" (click)="save()" [disabled]="!canHaveCredit">Guardar</button>
        <button class="btn btn-primary" (click)="cancel()">Cancelar</button>        
    </div>
</form>