<mat-hint align="start">Valor a Solicitar</mat-hint>
<form>
    <div class="row">
        <div class="col-12">
            <mat-slider [max]="maxAmout" [min]="minAmout" [(ngModel)]="value" name="value" (blur)="blur()" class="col-12">
            </mat-slider>
            <div class="col-12">
                <mat-hint class="col-6 col-sm-12" align="start">Valor mínimo {{ minAmout | currency:'USD' }} </mat-hint>
                <mat-hint class="col-6 col-sm-12" align="end">Valor máximo {{ maxAmout | currency:'USD' }} </mat-hint>
            </div>
        </div>
        <div class="col-12 col-sm-12 text-center my-1">
           Valor Solicitado: {{ value | currency:'USD' }}
        </div>
    </div>
    <div class="d-flex justify-content-between" *ngIf="false">
        <button class="btn btn-primary" (click)="cancel()">Cancelar</button>
        <button class="btn btn-success" (click)="save()">Guardar</button>
    </div>
</form>