<div class="row mt-4 mb-2">
  <div class="col-12 text-center">
    <h1>Lista de Usuarios</h1>
    <hr>
    <button type="button" class="btn btn-primary" (click)="openDialog()">Crear Usuario</button>
    <button type="button" class="btn btn-danger mx-3" (click)="showLoanRecord('SHOW_REJECTED')">Historial Rechazados</button>
    <button type="button" class="btn btn-warning" >Lista de Pendientes</button>
  </div>
</div>



<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
</mat-form-field>


<div class="mat-elevation-z8 table-responsive">
  <table mat-table [dataSource]="dataSource" matSort class="table">

    <!-- Nombre Column -->
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let row;"> {{row.name}} </td>
    </ng-container>

    <!-- Correo Column -->
    <ng-container matColumnDef="Correo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <!-- Cédula Column -->
    <ng-container matColumnDef="Cédula">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cédula </th>
      <td mat-cell *matCellDef="let row"> {{row.documentId}} </td>
    </ng-container>

    <!-- Detalle Column -->
    <ng-container matColumnDef="DETALLE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true"> Detalle </th>
      <td mat-cell *matCellDef="let row" class="text-center" (click)="showRecord('SHOW_DETAIL', row)">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list-stars" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"/>
          <path d="M2.242 2.194a.27.27 0 0 1 .516 0l.162.53c.035.115.14.194.258.194h.551c.259 0 .37.333.164.493l-.468.363a.277.277 0 0 0-.094.3l.173.569c.078.256-.213.462-.423.3l-.417-.324a.267.267 0 0 0-.328 0l-.417.323c-.21.163-.5-.043-.423-.299l.173-.57a.277.277 0 0 0-.094-.299l-.468-.363c-.206-.16-.095-.493.164-.493h.55a.271.271 0 0 0 .259-.194l.162-.53zm0 4a.27.27 0 0 1 .516 0l.162.53c.035.115.14.194.258.194h.551c.259 0 .37.333.164.493l-.468.363a.277.277 0 0 0-.094.3l.173.569c.078.255-.213.462-.423.3l-.417-.324a.267.267 0 0 0-.328 0l-.417.323c-.21.163-.5-.043-.423-.299l.173-.57a.277.277 0 0 0-.094-.299l-.468-.363c-.206-.16-.095-.493.164-.493h.55a.271.271 0 0 0 .259-.194l.162-.53zm0 4a.27.27 0 0 1 .516 0l.162.53c.035.115.14.194.258.194h.551c.259 0 .37.333.164.493l-.468.363a.277.277 0 0 0-.094.3l.173.569c.078.255-.213.462-.423.3l-.417-.324a.267.267 0 0 0-.328 0l-.417.323c-.21.163-.5-.043-.423-.299l.173-.57a.277.277 0 0 0-.094-.299l-.468-.363c-.206-.16-.095-.493.164-.493h.55a.271.271 0 0 0 .259-.194l.162-.53z"/>
        </svg>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <div class="row" *ngIf="users?.length == 0">
    <div class="col-12">
      No existen registros
    </div>
  </div>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>