<button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
</button>

<h1 mat-dialog-title> Creditos rechazados </h1>


<div class="mat-elevation-z8 table-responsive">
    <table mat-table [dataSource]="dataSource" matSort class="table">

        <!-- ID Column -->
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> N° </th>
            <td mat-cell *matCellDef="let i = index"> {{ i + 1 }} </td>
        </ng-container>

        <!-- Valor Solicitado Column -->
        <ng-container matColumnDef="Valor Solicitado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Solicitado </th>
            <td mat-cell *matCellDef="let row;"> {{row.requestedValue | currency:'USD'}} </td>
        </ng-container>

        <!-- Credito Pagado Column -->
        <ng-container matColumnDef="Credito Pagado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Credito Pagado </th>
            <td mat-cell *matCellDef="let row"> {{row.creditIsPay}} </td>
        </ng-container>

        <!-- Estado Crédito Column -->
        <ng-container matColumnDef="Estado Crédito">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado Crédito </th>
            <td mat-cell *matCellDef="let row"> {{row.creditState}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>