<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>

<div class="container">
    <app-base-capital></app-base-capital>
    <router-outlet></router-outlet>
</div>